<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/mylogin.css">
<style>
	body {
		text-align: center;
		background-color: #e0ffff;
	
	}
</style>
	<title>KRCナッくんSP_login</title>
</head>

<body>
	<h1>KRC学習サイトへようこそ</h1>
	<form th:action="@{/mylogin}" method="POST" enctype="multipart/form-data">
		<p>学籍番号</p><input type="int" name="NUMBER"><br>
		<p>パスワード</p><input type="int" name="PASS"><br>
		<p><input type="submit"></p>
		<p th:text="${sample}"></p>
	</form>

</body>

</html>