<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Dela+Gothic+One&family=DotGothic16&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Noto+Sans+JP:wght@800&family=Zen+Maru+Gothic:wght@300;700&display=swap"
        rel="stylesheet">
<div id="header"></div>
</head>
<body>
	
	
		<script>
      fetch("header")
        .then((response) => response.text())
        .then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
</script>	
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>問題登録画面</h1>
    <div class="row">
    <!-- 更新用のフォーム -->
    <form th:action="@{/qregister_check}" method="post" id="updateForm">
        <h2>授業ID</h2>
        <input type="number" name="subjectID">
        <h2>問題番号</h2>
        <input type="number" name="questionID" >
        <h2>タイトル登録</h2>
        <textarea id="title" name="title" rows="3" cols="30"></textarea><br>
        <h2>問題文登録</h2>
        <textarea id="text" name="text" rows="3" cols="30"></textarea><br>
        <h2>回答登録</h2>
        <textarea id="text" name="answer" rows="3" cols="30"></textarea><br>
        <button type="submit" name="send">登録する</button>
    </form>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</button></a>
</div>    
    <script>
		// Octokit Core.jsのインポート
const { Octokit } = require('@octokit/core');

// GitHubアクセストークン
const token = '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';

// Octokitの初期化
const octokit = new Octokit({ auth: token });

// リポジトリ情報を取得する関数
async function getRepositoryInfo(owner, repo) {
  try {
    // GET /repos/:owner/:repo エンドポイントにリクエスト
    const response = await octokit.request('GET /repos/:owner/:repo', {
      owner: owner,
      repo: repo
    });

    // レスポンスからリポジトリ情報を取得
    const repositoryInfo = response.data;
    console.log('Repository Info:', repositoryInfo);
  } catch (error) {
    console.error('Error:', error.message);
  }
}

// 例: GitHubユーザー"octocat"のリポジトリ"Hello-World"の情報を取得
getRepositoryInfo('octocat', 'Hello-World');
		function regist() {
     window.location.href = "register_check";

    }
	</script>
	
	
</body>

</html>
