<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>授業一覧</title>
<div id="header"></div>
</head>
<body>
	
	
		<script>
      fetch("header")
        .then((response) => response.text())
        .then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
</script>	
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>授業一覧</h1>
		    <tr th:each="SubjectList:${SubjectList}">
			<a th:text="${SubjectList.subjectname}"></a>
			<a th:href="@{'/javakiso/javakiso_top/' + ${SubjectList.subjectID}}"><button>授業</button></a>

<br></tr>
</body>
</html>