<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>教師状況</title>
<div id="header"></div>
</head>
<body>
	<script>
      fetch("header")
        .then((response) => response.text())
        .then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
</script>	
    <br>
    <br>
    <br>
    <br>
    <br>  
	<h1>教師状況</h1>
	<h2>情報システム科</h2>
	<h3>・竹野谷先生 状況:待機       予定:特になし</h3>
	<h3>・沼田先生   状況:会議       予定:16:10～17:30会議</h3>
	<h3>・渡部先生   状況:生徒対応中 予定:生徒2人待ち(633)
	<br>
	<h2>ゲーム科・デザイン科</h2>
	<h3>黒瀬先生     状況:待機       予定:17:00退勤</h3>
	<br>
	<br>
	<h2>上記のように名前,状況,予定欄を作りDBから取り出す</h2>
	<h2>内容の変更は変更ページを教師アカウントのみ表示し、そこで行う</h2>
</body>
</html>