<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>教師の状況</title>
<div id="header"></div>
<style>
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 35px;
	}
</style>
</head>
<form th:action="@{/teacher}" method="POST" enctype="multipart/form-data">
     <div class="teacher-form">
	  <form action="@{/teacher}" method="post">
<body>
	<script>
      fetch("header")
        .then((response) => response.text())
        .then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
</script>	
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>教師状況一覧</h1>
    <br>
    <br>
	
	
	<tr th:each="list:${selectResult}"> 
		<h2><a th:text="${list.name}+'先生   状況  :'+${list.place}+'   予定  :'+${list.info}">
			</a></h2>
	</tr>	
	
</body>
</html>