<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../css/header.css">
	<title>Java基礎_トップ</title>
	<div id="header"></div>
	<style>
		body{
		background-color: #FFDDFF;
	}
	.sub{
		border: 15px outset #31A9EE;
        box-sizing: border-box;
        padding: 40px;
        margin: 40px 480px; 
        font-size: 20px;
        
    }    button{
		width: 280px;
		height:50px;
		font-size: 28px;
		
	}
	</style>
</head>

<body>
	<script>
		fetch("/../../header")
			.then((response) => response.text())
			.then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
	</script>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>回数選択</h1>

	<div th:each="CourceList:${CourceList}" class="sub">
		<h1><a th:text="'第'+${CourceList.courceID}+'回目：'+ ${CourceList.title}"></a></h1>
		<a th:href="@{'/javakiso/javakiso_study/' + ${session.subjectID} + '/' +${CourceList.courceID}}"></font>
		<button>授業</button></a>
		<br>
		<br>
	</div>
		</form>
</body>

</html>