<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../css/header.css">
	<title>Java基礎_問題トップ</title>
	<div id="header"></div>
	<style>
		body{
		background-color: #FFDDFF;
	}
	.sub{
		border: 15px outset #31A9EE;
        box-sizing: border-box;
        padding: 40px;
        margin: 40px 480px; 
        font-size: 20px;
        
    }    button{
		width: 280px;
		height:50px;
		font-size: 28px;
		
	}
	</style>
</head>

<body>
	<script>
		fetch("/../../header")
			.then((response) => response.text())
			.then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
	</script>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>授業回数選択</h1>

	
	<tr th:each="QuestionList:${QuestionList}" class="sub">
		<a th:text="'第'+${QuestionList.questionID}+'回目：'+ ${QuestionList.title}"></a>
		<a th:href="@{'/javakiso/javakisoq_study/' + ${session.subjectID} + '/' +${QuestionList.questionID}}"><button>問題へ</button></a>
		<br>
		</form>
	</tr>
</body>

</html>