<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"type="text/css" href="../css/header.css">
<title>Java基礎_問題①</title>
<div id="header"></div>
</head>
<body>
	
	
		<script>
      fetch("../header")
        .then((response) => response.text())
        .then((data) => document.querySelector("#header").innerHTML = data);
		//sp menu
</script>	
    <br>
<br>
<br>
<br>
<br>
<h1>Java基礎問題①</h1>
<h2>本文</h2>
<h2>-----------------------------</h2>
<h2>DBから取り出したhtmlをページとして表示する</h2>
<h2>Javascriptで実装できそう</h2>
<br>
<br>
<br>
<h2>-----------------------------</h2>
<br>
<h2>-----------------------------</h2>
<h2>コード入力画面</h2>
<h2>-----------------------------</h2>
<h2>この画面に入力されたコードをeclipceに送る</h2>
<h2>その際の実行結果を回答ボタンを押した際に</h2>
<h2>下の実行結果画面に表示する</h2>
<br>
<br>
<br>
<h2>-----------------------------</h2>
<input type="button" value="回答">
<input type="button" value="解説">
<h2>実行結果</h2>
<h2>-----------------------------</h2>
<br>
<br>
<br>
<h2>-----------------------------</h2>
<h2>解説画面</h2>
<h2>-----------------------------</h2>
<h2>本文と同様</h2>
<br>
<br>
<br>
<h2>-----------------------------</h2>
</body>
</html>

