<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Java基礎_第一回:プログラミング基礎①</title>
</head>
<body>
<h1>第一回:プログラミング基礎</h1>
<h2>こんにちは！2023年度1-C,1-D,1-EでJava基礎の担当をする○○です！</h2>
<h2>専門的で難しいイメージのプログラミングに親しみやすくなるように、</h2>
<h2>またわかりやすい授業にできるように頑張ります!</h2>
<br>
<h2>まず、今日やることを軽くまとめます</h2>
<li>プログラマーとSEの違いについて</li>
<li>プログラミング言語Javaについて</li>
<li>コード作成体験</li>
<br>
<h2>では早速プログラマーについて書いていきます</h2>
<img src="../../static/images/eclipse.png">
<h2>上の画像は私がよく使用しているJava言語をもちいたプログラミングをするためのアプリです</h2>
</body>
</html>